* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background:#fff;
    font-size: 20px;
    font-weight: 400;
    color:#555;
    text-rendering: optimizeLegibility;
    font-family:lato,arial;
    
}

.row{
    max-width: 1140px;
    background: red;    
    margin:0 auto;
}


/*------------------------------*/
/* HEADER */
/*------------------------------*/
.formation-text-box{
    position: absolute;
    width: 1140px;
    top: 25%;
    left: 25%;
   /* transform: translate(-50%, -80%) */
        
}

header{
    /*
    background-color: aqua;
    */
    background-image:linear-gradient(rgba(255,165,33,0.5)  , rgba(49,255,81,0.7) ), url(img/danse.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}


.formation {
    
    background-color: aqua;
    height: 100vh;

}


.tarifs {
    
    background-color: red;
    height: 100vh;

}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    /* padding:10px 30px 10px 30px ; */
    padding: 10px 30px;
    margin: 10px 10px;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s, border 2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited
{   
    border:2px outset #c4c4c4;
    background-color:#fff;
    }


.btn-ghost:link,
.btn-ghost:visited
{
      border:2px solid #c4c4c4;
      
}


.btn:hover,
.btn:active
{
 /*   background-color: #eee; */
    
}

.btn-full:hover,
.btn-full:active
{
    background-color: #000;
    
}
.btn-ghost:hover,
.btn-ghost:active
{
    border:2px solid #000;

}


/*------------------------------*/
/* HEADER FIN */
/*------------------------------*/


